.Left
{
    float: left;
}

.Right
{
    float: right;
}

.Text-Centrate
{
    text-align: center;
}

.hidden
{
    display: none;
}

.sr-only
{
    @media all
    {
        display: none;
    }
    @media speech
    {
        display: block;
    }

}

.Hide-Mobile
{
    @extend %Hidden-Mobile;
}

.Visually-Hidden
{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1000px;
}