%Clearfix:before,
%Clearfix:after
{
	display: table;

	content: ' ';
}

%Clearfix:after
{
	clear: both;
}

%Text-Ghost
{
	cursor: default;
	&::selection
	{
		background-color: transparent;
	}
}

%Animation-Fast
{
	transition: all .3s;
}


%Mobile-Padding
{
	@include Adaptive('<DS')
	{
		padding-left:  15px;
		padding-right: 15px;
	}

}

%Button-Primary
{
	background-color: $Primary;
	border-radius:    4px;
	border:           0;
	color:            #fff;
	font-family:      'Roboto', sans-serif;
	font-weight:      100;
	letter-spacing:   1px;
	line-height:      40px;
	transition: all .3s;

	&:hover
	{
		background-color: darken($Primary, 10%);
	}
}

%Heading-Underlined
{
	display: inline-block;
	font-family:     'Lato', sans-serif;
	font-size:       30px;
	line-height:     34px;
	text-decoration: none;
	cursor:          default;

	@include Adaptive('>=DS')
	{
		@include Underline(#b8b8b8 #b8b8b8 #b8b8b8, 1px 32px);
	}
}

%Transition-Std
{
	transition: all .3s;
}

%Unselectable
{
	cursor: default;
}

%Badge
{
	display:        inline-block;
	vertical-align: middle;
	padding:        0 10px;
	box-sizing:     content-box;
	background:     #1abc9c;
	border-radius:  0;
	transform:      skewX(-10deg);
	&.new
	{
		font-family:      "Lato", sans-serif;
		font-size:        20px;
		line-height:      26px;
		height:           30px;
		letter-spacing:   1px;
		color:            #feffff;
		background-color: #f80;
		@include Adaptive('<DS')
		{
			font-size:   10px;
			line-height: 14px;
			height:      16px;
		}
	}
	& > span
	{
		display:   inline-block;
		transform: skewX(10deg);
	}
}