// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$Viewports: (
    // Phone viewports
        'SS': 320px,
        'SM': 375px,
        'SL': 415px,
    // Tablet viewports
        'TS' : 600px,
        'TM' : 700px,
        'TL' : 800px,
        'TXL' : 1000px,
        'TXXL' : '1280px & dpi >= @2x',
    // Desktop viewports
        'DS' : 1250px,
        'DM' : 1440px,
        'DL' : 1600px,
        'DXL' : 1920px,
        'D2K' : 2560px,
        'D4K' : 3840px
) !default;



$Viewport-Expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------

$Primary: #da332b;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------

// GLOBALS
$C-Facebook: #3b5998;
$C-Twitter: #55acee;
$C-Vkontakte: #45668e;
