.Btn
{
	@extend %Btn-Std;


	&.Load-More
	{
		@extend %Btn-Secondary;
		padding-left: 50px;
		padding-right: 15px;
		letter-spacing: 1px;
		line-height: 40px;
		color: #fff;
		border-radius: 4px;
		background: url(../img/+.png) 15px center no-repeat #a8a8a8;
		font-weight: 400;
		white-space: nowrap;

		@include Adaptive('>=DS')
		{
			padding-left: 70px;
			padding-right: 35px;
			background-position: 35px center;
			line-height: 50px;
		}
	}

	&.Read-More
	{
		@extend %Btn-Primary;
	}
}

.Icons
{
	display:        inline-block;
	*display:       inline;
	position:       relative;
	vertical-align: middle;
	zoom:           1;

	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;

	&.Facebook
	{
		width:          28px;
		height:         28px;

		background-position: 0 0;
		&.Gray
		{
			background-position: -28px 0;
		}
	}

	&.Instagram
	{
		width:          29px;
		height:         28px;

		background-position: 0 -28px;

		&.Gray
		{
			background-position: -28px -28px;
		}
	}

	&.Telegram
	{
		width:          28px;
		height:         28px;

		background-position: 0 -173px;

		&.Gray
		{
			background-position: -28px -173px;
		}
	}

	&.More
	{
		width:          21px;
		height:         21px;

		background-position: 0 -56px;
	}
}

.Comments-Amount
{
	.Post-Card & a
	{
		color:           #000;
		text-decoration: none;
	}

	a
	{
		font-family:     Roboto, sans-serif;
		font-size:       14px;
	}

	svg
	{
		vertical-align: middle;
		width:          19px;
		height:         16px;
		fill:           #999;
	}
}

.Tags-List
{
	li
	{
		display:       inline-block;
		margin-bottom: 10px;
		margin-right:  10px;

		a
		{
			@extend %Transition-Std;
			display:          inline-block;
			background-color: #767676;
			color:            #fff;
			font-size:        16px;
			padding:          0 10px 1px;

			&:hover
			{
				background-color: $Primary;
			}
		}
	}
}