$Menu-Width: 40px;
$Menu-Thickness: 4px;

.Hamburger
{
	display:    inline-block;
	position:   relative;
	width:      $Menu-Width;
	height: $Menu-Thickness*5;
	margin-top: 22px;
	vertical-align: top;
	padding: 10px 0;
	
	span
	{
		position:         absolute;
		display:          block;
		width:            $Menu-Width;;
		height:           $Menu-Thickness;

		background-color: #58595b;

		transition: all .5s;

		&:before,
		&:after
		{
			content:          '';

			position:         absolute;

			width:            $Menu-Width;
			height:           $Menu-Thickness;

			background-color: #58595b;

			transition: all .5s;
		}

		&:before
		{
			top: 8px;
		}

		&:after
		{
			bottom: 8px;
		}
	}

	&.Active
	{
		span
		{
			background-color: transparent;
		}
		
		span:before
		{
			top: 0;
			transform: rotate(360deg + 45deg);
		}

		span:after
		{
			bottom: 0;
			transform: rotate(360deg - 45deg);
		}
	}
}