.JS-Modal-Blackout
{
    visibility:       hidden;
    position:         fixed;
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    width:            100%;
    height:           100%;
    text-align:       center;

    background-color: rgba(0, 0, 0, .3);
    transition:       all 0.7s ease;
    perspective:      3000px;

    .JS-Modal
    {
        visibility:       hidden;
        position:         absolute;
        overflow:         auto;
        z-index:          100100;
        width:            60%;
        min-height:       320px;
        top:              30%;
        left:             10%;
        right:            10%;

        box-sizing:       border-box;

        margin:           0 auto;
        padding:          40px 20px;

        background-color: #eee;
        transition:       all 0.7s ease;
        transform:        rotateX(90deg);

        .JS-Modal-Close
        {
            position:  absolute;
            width:     25px;
            top:       10px;
            right:     10px;
            font-size: 36px;
            cursor:    pointer;
        }
    }

    &.Visible
    {
        visibility: visible;
        opacity:    1;
        .JS-Modal
        {
            visibility: visible;
            opacity:    1;
            transform:  rotateX(0deg);
            transition: all 0.7s ease;
        }
    }

    .JS-Form-Button
    {
        color:     white;
        font-size: 24px;
        @extend %Btn;
        @extend %Btn-Hexagon;
        @include Adaptive('<=TM')
        {
            font-size: 18px;
        }
    }

    h2
    {
        @extend %Heading;

    }

    input
    {
        margin:     5px 30px 30px;
        padding:    15px 10px;
        width:      300px;

        border:     2px solid $Primary-l;

        text-align: center;
        font-size:  18px;
    }

    @include Adaptive('<=TM')
    {
        .JS-Modal
        {
            width:       100%;
            height:      100%;
            padding-top: 60px;
            top:         0;
            bottom:      0;
            left:        0;
            right:       0;
        }
        input
        {
            padding:   10px 10px;
            width:     200px;
            font-size: 16px;
        }
    }

    .JS-Form-Result
    {
        margin-top:  30px;
        font-weight: 600;
        font-size:   18px;
    }
}


