%Hidden-Mobile {
    display: none;
    @include Adaptive('>=DS') {
        display: block;
    }
}

%Hidden-Mobile-Inline {
    display: none;
    @include Adaptive('>=DS') {
        display: inline-block;
    }
}

%Btn-Std
{
    @extend %Component-Std;
    @extend %Transition-Std;

    font: 100 15px/30px Roboto, sans-serif;
    color: #fff!important;
    text-decoration: none!important;
    border: 0;
    cursor: pointer;

    @include Adaptive('>=DS')
    {
        font-size: 16px;
        line-height: 32px;
    }
    
}

%Btn-Primary
{
    background-color: $Primary;
    &:hover
    {
        background-color: #a8a8a8;
    }
}

%Btn-Secondary
{
    background-color: #a8a8a8;
    &:hover
    {
        background-color: $Primary;
    }
}

%Content-Block
{
    margin-left:  auto;
    margin-right: auto;
    @include Adaptive('<DS')
    {
        max-width: 700px;
    }
    @include Adaptive('>=DS')
    {
        max-width:    1260px;
    }
}

%Component-Std
{
    @extend %Transition-Std;

    display: inline-block;
    padding: 0 15px;
    border-radius: 4px;
    line-height: 40px;

    &:focus
    {
        @extend %Component-Focus-Std;
    }
}

%Component-Focus-Std
{
    border-color: #333;
    outline:0;
}
%Component-Placeholder-Huge
{
    ::-webkit-input-placeholder,
    :-moz-placeholder
    {
        font-size: 20px;
    }
}