// ---------------------------------------------------------------------------------------------------------------------
//	SET FILE
//	Used to define initial tag styles and import custom fonts
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Custom Fonts Import
// ---------------------------------------------------------------------------------------------------------------------
@include Import-Font('Roboto', 100, normal, woff2 woff);
@include Import-Font('Roboto', 100, italic, woff2 woff);
@include Import-Font('Roboto', 400, normal, woff2 woff);
@include Import-Font('Roboto', 400, italic, woff2 woff);
@include Import-Font('Roboto', 700, normal, woff2 woff);
@include Import-Font('Roboto', 700, italic, woff2 woff);
@include Import-Font('Lato', 400, normal, woff2 woff);
@include Import-Font('Lato', 700, normal, woff2 woff);
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
//	Tag Styles
// ---------------------------------------------------------------------------------------------------------------------
html
{
	overflow-x: hidden;
}

body
{
	font-kerning:           normal;
	font-weight:            400;
	-webkit-font-smoothing: antialiased;
	color:                  #000;
}

a
{
	&:link, &:visited
	{
		color: #0060a0;
	}

	&:hover
	{
		color:   #003a73;
		outline: none;
	}
}

button, select
{
	-webkit-appearance: none;
}

figure
{
	position: relative;
}

figure figcaption
{
	position: absolute;
}

input
{
	@extend %Component-Std;
	border: 1px solid #a8a8a8;
}

// ---------------------------------------------------------------------------------------------------------------------