@charset "UTF-8";
/*!
Theme Name: 5o'click
Version: 2016.0
Author: Yuriy Pokhylko
*/
/*!
 * Bootstrap v4.0.0-alpha.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
article{padding-bottom: 50px; border-bottom: 1px dashed rgba(17,17,17,.2);}

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active { outline: 0; }
a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

@media print { *, *::before, *::after { text-shadow: none !important; box-shadow: none !important; }
  a, a:visited { -text-decoration: underline; }
  abbr[title]::after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { -max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
  .btn > .caret, .dropup > .btn > .caret { border-top-color: #000 !important; }
  .label { border: 1px solid black; }
  .table { border-collapse: collapse !important; }
  .table td, .table th { background-color: #fff !important; }
  .table-bordered th, .table-bordered td { border: 1px solid #ddd !important; } }
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }
html { font-size: 16px; -webkit-tap-highlight-color: transparent; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.5; color: #373a3c; background-color: white; }

[tabindex="-1"]:focus { outline: none !important; }

body, h1, h2, h3, h4, h5, h6, p, pre, table, thead, tbody, tr, th, td, img, pre, tt, code, form, input, textarea, select, button {
    margin: 0px;
    padding: 0px;
    outline: medium none;
    text-indent: 0px;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: .5rem; font-family: sans-serif; font-weight: 700;}

p { margin-top: 0; margin-bottom: 1rem; }

abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #818a91; }

address { margin-bottom: 1rem; font-style: normal; line-height: inherit; }

ol, ul, dl { margin-top: 0; margin-bottom: 1rem; }

ol ol, ul ul, ol ul, ul ol { margin-bottom: 0; }

dt { font-weight: bold; }

dd { margin-bottom: .5rem; margin-left: 0; }

blockquote {
	margin: 4.4rem 0 4.4rem 20%;
    line-height: 2.5rem;
	width: 80%;
	text-align: justify;
	font-size: 1.8rem;
	-background: #f7f7f7;
    -border-left: 1px solid #bbb;
    -font-style: italic;
    -margin: 1.5em 10px;
    -padding: 0.5em 10px;
}
 
blockquote:before {
    color: #E32313;
    content: "\201C"; /* Непечатаемый символ слева */
    font-size: 3em;
    line-height: 0.1em;
    margin-left: -2.6rem;
	margin-right: 0.1em;
    vertical-align: -.4em;
}
 
blockquote > p:first-child {
    display: inline;
}


a { color: #0275d8; text-decoration: none; }
a:focus, a:hover { color: #014c8c; -text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

pre { margin-top: 0; margin-bottom: 1rem; }

figure { margin: 0 0 1rem; }

img { vertical-align: middle; }

[role="button"] { cursor: pointer; }

a, area, button, [role="button"], input, label, select, summary, textarea { touch-action: manipulation; }

table { background-color: transparent; }

caption { padding-top: 0.75rem; padding-bottom: 0.75rem; color: #818a91; text-align: left; caption-side: bottom; }

th { text-align: left; }

label { display: inline-block; margin-bottom: .5rem; }

button:focus { outline: 1px dotted; outline: 5px auto -webkit-focus-ring-color; }

input, button, select, textarea { margin: 0; line-height: inherit; border-radius: 0; }

textarea { resize: vertical; }

fieldset { min-width: 0; padding: 0; margin: 0; border: 0; }

legend { display: block; width: 100%; padding: 0; margin-bottom: .5rem; font-size: 1.5rem; line-height: inherit; }

input[type="search"] { box-sizing: inherit; -webkit-appearance: none; }

output { display: inline-block; }

[hidden] { display: none !important; }

.container { margin-left: auto; margin-right: auto; padding-left: 0.9375rem; padding-right: 0.9375rem; }
.container::after { content: ""; display: table; clear: both; }
@media (min-width: 544px) { .container { max-width: 576px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 940px; } }
@media (min-width: 992px) { .container { max-width: 940px; } }

.container-fluid { margin-left: auto; margin-right: auto; padding-left: 0.9375rem; padding-right: 0.9375rem; }
.container-fluid::after { content: ""; display: table; clear: both; }

.row { margin-left: -0.9375rem; margin-right: -0.9375rem; }
.row::after { content: ""; display: table; clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { position: relative; min-height: 1px; padding-left: 0.9375rem; padding-right: 0.9375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-1 { width: 8.33333%; }

.col-xs-2 { width: 16.66667%; }

.col-xs-3 { width: 25%; }

.col-xs-4 { width: 33.33333%; }

.col-xs-5 { width: 41.66667%; }

.col-xs-6 { width: 50%; }

.col-xs-7 { width: 58.33333%; }

.col-xs-8 { width: 66.66667%; }

.col-xs-9 { width: 75%; }

.col-xs-10 { width: 83.33333%; }

.col-xs-11 { width: 91.66667%; }

.col-xs-12 { width: 100%; }

.col-xs-pull-0 { right: auto; }

.col-xs-pull-1 { right: 8.33333%; }

.col-xs-pull-2 { right: 16.66667%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-4 { right: 33.33333%; }

.col-xs-pull-5 { right: 41.66667%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-7 { right: 58.33333%; }

.col-xs-pull-8 { right: 66.66667%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-10 { right: 83.33333%; }

.col-xs-pull-11 { right: 91.66667%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-push-0 { left: auto; }

.col-xs-push-1 { left: 8.33333%; }

.col-xs-push-2 { left: 16.66667%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-4 { left: 33.33333%; }

.col-xs-push-5 { left: 41.66667%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-7 { left: 58.33333%; }

.col-xs-push-8 { left: 66.66667%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-10 { left: 83.33333%; }

.col-xs-push-11 { left: 91.66667%; }

.col-xs-push-12 { left: 100%; }

.col-xs-offset-0 { margin-left: 0%; }

.col-xs-offset-1 { margin-left: 8.33333%; }

.col-xs-offset-2 { margin-left: 16.66667%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-4 { margin-left: 33.33333%; }

.col-xs-offset-5 { margin-left: 41.66667%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-7 { margin-left: 58.33333%; }

.col-xs-offset-8 { margin-left: 66.66667%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-10 { margin-left: 83.33333%; }

.col-xs-offset-11 { margin-left: 91.66667%; }

.col-xs-offset-12 { margin-left: 100%; }

@media (min-width: 544px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; } }
@media (min-width: 768px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }
  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-12 { left: 100%; }
  .col-md-offset-0 { margin-left: 0%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-12 { margin-left: 100%; } }
@media (min-width: 992px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-2 { right: 16.66667%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-4 { right: 33.33333%; }
  .col-lg-pull-5 { right: 41.66667%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-7 { right: 58.33333%; }
  .col-lg-pull-8 { right: 66.66667%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-10 { right: 83.33333%; }
  .col-lg-pull-11 { right: 91.66667%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-2 { left: 16.66667%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-4 { left: 33.33333%; }
  .col-lg-push-5 { left: 41.66667%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-7 { left: 58.33333%; }
  .col-lg-push-8 { left: 66.66667%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-10 { left: 83.33333%; }
  .col-lg-push-11 { left: 91.66667%; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-offset-0 { margin-left: 0%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66667%; }
  .col-lg-offset-12 { margin-left: 100%; } }
@media (min-width: 992px) { .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { float: left; }
  .col-xl-1 { width: 8.33333%; }
  .col-xl-2 { width: 16.66667%; }
  .col-xl-3 { width: 25%; }
  .col-xl-4 { width: 33.33333%; }
  .col-xl-5 { width: 41.66667%; }
  .col-xl-6 { width: 50%; }
  .col-xl-7 { width: 58.33333%; }
  .col-xl-8 { width: 66.66667%; }
  .col-xl-9 { width: 75%; }
  .col-xl-10 { width: 83.33333%; }
  .col-xl-11 { width: 91.66667%; }
  .col-xl-12 { width: 100%; }
  .col-xl-pull-0 { right: auto; }
  .col-xl-pull-1 { right: 8.33333%; }
  .col-xl-pull-2 { right: 16.66667%; }
  .col-xl-pull-3 { right: 25%; }
  .col-xl-pull-4 { right: 33.33333%; }
  .col-xl-pull-5 { right: 41.66667%; }
  .col-xl-pull-6 { right: 50%; }
  .col-xl-pull-7 { right: 58.33333%; }
  .col-xl-pull-8 { right: 66.66667%; }
  .col-xl-pull-9 { right: 75%; }
  .col-xl-pull-10 { right: 83.33333%; }
  .col-xl-pull-11 { right: 91.66667%; }
  .col-xl-pull-12 { right: 100%; }
  .col-xl-push-0 { left: auto; }
  .col-xl-push-1 { left: 8.33333%; }
  .col-xl-push-2 { left: 16.66667%; }
  .col-xl-push-3 { left: 25%; }
  .col-xl-push-4 { left: 33.33333%; }
  .col-xl-push-5 { left: 41.66667%; }
  .col-xl-push-6 { left: 50%; }
  .col-xl-push-7 { left: 58.33333%; }
  .col-xl-push-8 { left: 66.66667%; }
  .col-xl-push-9 { left: 75%; }
  .col-xl-push-10 { left: 83.33333%; }
  .col-xl-push-11 { left: 91.66667%; }
  .col-xl-push-12 { left: 100%; }
  .col-xl-offset-0 { margin-left: 0%; }
  .col-xl-offset-1 { margin-left: 8.33333%; }
  .col-xl-offset-2 { margin-left: 16.66667%; }
  .col-xl-offset-3 { margin-left: 25%; }
  .col-xl-offset-4 { margin-left: 33.33333%; }
  .col-xl-offset-5 { margin-left: 41.66667%; }
  .col-xl-offset-6 { margin-left: 50%; }
  .col-xl-offset-7 { margin-left: 58.33333%; }
  .col-xl-offset-8 { margin-left: 66.66667%; }
  .col-xl-offset-9 { margin-left: 75%; }
  .col-xl-offset-10 { margin-left: 83.33333%; }
  .col-xl-offset-11 { margin-left: 91.66667%; }
  .col-xl-offset-12 { margin-left: 100%; } }
.embed-responsive { position: relative; display: block; height: 0; padding: 0; overflow: hidden; }
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; }

.embed-responsive-21by9 { padding-bottom: 42.85714%; }

.embed-responsive-16by9 { padding-bottom: 56.25%; }

.embed-responsive-4by3 { padding-bottom: 75%; }

.embed-responsive-1by1 { padding-bottom: 100%; }

.hidden-xs-up { display: none !important; }

@media (max-width: 543px) { .vynoska{-display:none;} .hidden-xs-down { display: none !important; } }

@media (min-width: 544px) { .hidden-sm-up { display: none !important; } }

@media (max-width: 767px) { .vynoska{-display:none;} .hidden-sm-down { display: none !important; } .cta-block{display: none;} }

@media (min-width: 768px) {  .hidden-md-up { display: none !important; }  }

@media (max-width: 991px) { .vynoska{-display:none;} .hidden-md-down { display: none !important; } .cta-block{-display: none;} }

@media (min-width: 992px) { .hidden-lg-up { display: none !important; } }

@media (max-width: 991px) { .vynoska{-display:none;} .hidden-lg-down { display: none !important; } .cta-block{-display: none;}}

@media (min-width: 992px) { .hidden-xl-up { display: none !important; } }

@media (max-width: 1250px) { .vynoska { display: none; } }

@media /*only*/ screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
	.cta-block{display: none !important;}
}

@media /*only*/ screen 
and (min-width : 480px) 
and (max-width : 768px) {
	.cta-block{display: none !important;}
}

.hidden-xl-down { display: none !important; }

.visible-print-block { display: none !important; }
@media print { .visible-print-block { display: block !important; } }

.visible-print-inline { display: none !important; }
@media print { .visible-print-inline { display: inline !important; } }

.visible-print-inline-block { display: none !important; }
@media print { .visible-print-inline-block { display: inline-block !important; } }

@media print { .hidden-print { display: none !important; } }

/*  Common */
body { /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/ background: #fff; padding: 3.125em 0; }

a { color: #0060a0; text-decoration: none; -border-bottom: 1px solid rgba(0, 96, 160, 0.2);}
a:hover { color: #e05020; -border-color: rgba(224, 80, 32, 0.9); }

.clear-list, .site-header .menu ul { padding: 0; margin: 0; list-style: none; }

/* Header */
.site-header { margin-bottom: 3.125em; padding-bottom: 0.2em; -margin-top: 3.125em;}
.site-header .site-title { font-size: 2em; font-weight: bold; }
.site-header .site-description { font-size: .9375em; line-height: 1.6; }
.site-header .menu { margin-top: .5em; }
.site-header .menu ul li { display: inline; font-size: .9375em; line-height: 1.6; }
.site-header .menu ul li + li:before { content: ' · '; margin: 0 .5em; }

.site-header .site-header-bottom-border{ border-bottom: 1px dashed rgba(17,17,17,.2); width: 35em; }


/* Entry */
.hentry header { margin-bottom: 1.5em; }
.hentry header .entry-title { font-size: 2.625em; line-height: 1.1; }
.hentry header .entry-title a { color: #111; border-bottom: 1px solid rgba(17,17,17,.2) !important; }
.hentry header .entry-title a:hover { color: #E05020; border-bottom: 1px solid #E05020;}

.hentry .entry-content { font-family: Georgia, "Times New Roman", Times, serif; font-size: 110%; line-height: 1.7; }
.hentry h2 { 
	font-family: sans-serif; 
	font-size: 110%; 
	line-height: 1.7; 
	font-weight: 700;
	font-size: 1.25em;
	line-height: 1.1;
	padding-top: 0.5em;
}

/* e2 styles */
.post figure{
	margin: 0 auto !important;
	text-align: center !important;
}

.post img{
	display: block;
	max-width: 99% !important;
	margin: 0 auto !important;
	text-align: center !important;
}

.post, .e2-comment, .e2-note {
    margin-bottom: 4em !important;
}

.post a{
	text-decoration: none;	
	color: #0060a0;
	border-bottom: 1px solid #0060a0;
}

.post a:hover{
	text-decoration: none;
	color: #E05020;
	border-bottom: 1px solid #E05020
}


.e2-heading, .post .e2-heading{
    margin-bottom: 1.5em;
}

.e2-heading h2, .post .e2-heading h2 {
    font-size: 1.125em;
    line-height: 1.4;
	color: #111 !important;
}

.post .e2-heading h2 a{
}

.post .e2-heading h2 a:hover{
}

.e2-heading-super, .e2-note-date {
    font-size: 0.8125em;
    margin-bottom: 0.4em;
    position: relative;
    z-index: 2;
}

.e2-note-text {
    font-size: 110%;
    margin-bottom: 1em;
}
.e2-text {
    line-height: 1.7;
    position: relative;
}

.e2-text-picture{
	text-align: left;
}

.post .e2-text-picture img{
	display: inline;
}

.e2-text-picture p{
	text-align: left !important;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

.e2-text-picture a{
	position: relative;
	display: inline-block;
}

.e2-text pre, .e2-text-audio, .e2-text-generic-object, .e2-text-picture, .e2-text-table, .e2-text-video {
    clear: both;
}
.e2-text pre, .e2-text-picture, .e2-text-video {
    margin-bottom: 2em;
}
.e2-text-picture {
    text-align: left !important;
}

.e2-note-tags, .e2-tags {
    line-height: 1.6;
}

.e2-note-tags > span, .e2-tags > span {
    display: inline-block;
    margin-right: 0.8em;
}

.e2-note-comments-link, .e2-note-likes, .e2-note-tags {
    font-size: 0.875em;
    margin-bottom: 1em;
}

.e2-pages {
    line-height: 1.4;
    margin-bottom: 3em;
	margin-top: 4em;
}

.e2-pages-prev, .e2-pages-next {
    max-width: 40%;
}
.e2-pages-prev, .e2-pages-between, .e2-pages-next {
    display: inline-block;
    vertical-align: top;
}


.e2-pages-between {
    padding: 0px 1em;
    white-space: nowrap;
}

.e2-keyboard-shortcut {
    background: #F0F0C0 none repeat scroll 0% 0%;
    color: #A64;
    padding: 0px 0.33em;
    border-radius: 3px;
    text-decoration: none;
    font-size: 85%;
}

#comments.sub-content {
    background-color: #F5F6F7;
	padding: 2em 0;
}

.sub-content {
    margin-bottom: 3em !important;
}


.e2-section-heading {
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: 1em;
}

.e2-popular {
    max-width: 700px;
    -moz-columns: 3 auto;
    -moz-column-gap: 3em;
    line-height: 1.4;
}

.e2-popular p {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 100%;
    margin: 0px 0px 0.5em;
}

.wpp-list{
	padding:0;margin:0;
}

.wpp-list li{
	padding: 0 0 1em 0;
	margin:0;
	display: block;
}

.wpp-list li a{

}

.layout__layout {
    -margin-left: -3em !important;
    -margin-right: -3em !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
}

.spotlight {
    max-width: 20em;
    margin-bottom: 1em;
}

.e2-search {
    margin-bottom: 1em;
}

.e2-search {
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.e2-search-input input {
    padding: 4px !important;
    background: transparent none repeat scroll 0% 0% !important;
}

input.text, textarea, select, button {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    padding: 4px;
    transition-property: border-color, background;
    transition-duration: 0.33s;
    transition-timing-function: ease-out;
}

.e2-search-input input {
    border-radius: 3px;
    background: #FFF url("../images/loupe.png?1394052846") no-repeat scroll 4px center;
    padding-left: 24px !important;
    padding-right: 20px !important;
    width: 100%;
    height: 28px;
}


.likely {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px -14px;
}

.likely_visible {
    opacity: 1;
    transition: opacity 0.1s ease-in 0s;
}

.likely {
    opacity: 0;
}

.likely, .likely__widget {
    display: inline-block;
    padding: 0px;
    word-spacing: 0px !important;
    text-indent: 0px !important;
    list-style: outside none none !important;
    font-weight: 400;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: inherit;
}

/* CTA block */ 
.cta-opacity{opacity: 0.4;}
.cta-fixed {position: fixed !important; top: 105px !important;}
.cta-block {position: absolute; right: 0; top: 325px; width: 220px; margin-right: 2em; /*background: #E32313;*/background: #fc6053; padding: 1em; color: #fff; text-align: center;}
.cta-block_header {font-size: 0.88em; font-weight: bold; padding-bottom: 1em; text-transform: uppercase;}
.cta-block_text {font-size: 0.84em; padding-bottom: 1em;}
.cta-block_link {font-size: 0.88em;}
	.cta-block_link a {display: block; color: #000; background: #fff; margin: 1em; padding: 0.5em 0;}
	.cta-block_link a:hover {display: block; color: #000; background: #fff; margin: 1em; padding: 0.5em 0; text-decoration: none; -moz-box-shadow: 0px 0px 7px #000000;-webkit-box-shadow: 0px 0px 7px #000000;box-shadow: 0px 0px 7px #000000;
	}
	
/* Advanced Editor Styles */
.yellow_quote{background: #F9F1B6; padding: 17px; margin: 30px 0; font-size: 0.9em;}
	.yellow_quote h1{font-weight:bold;}
	.yellow_quote h2{font-weight:bold;}

.vynoska{
	position: absolute; left: 0;
	margin-left: -160px; 
	width: 140px;
	padding: 0.6rem; 
	text-align: center; 
	font-size: 1em; 
	white-space: normal!important;
	line-height: 1.7rem;
}

	.vynoska h1{font-weight:bold;}
	.vynoska h2{font-weight:bold;}
		
.screen-reader-text{clear: both; content:"";}

/* Page Numbers */

.nav-links{
	margin: 41px 0 0 0;
}

.nav-links a{
	text-decoration:none;
	padding: 6px 12px;
}

.nav-links a:hover{
	text-decoration:none;
	padding: 6px 12px;
	background: #E2E2E2;
	color: #fff;
}

.current{
	padding: 6px 12px;
	background: #E32313;
	color: #fff;	
}


.author_link{
	line-height: 19px;
}
	
	
/* Footer */
.site-footer { font-size: .875em; line-height: 1.6; padding-top: 3.125em; }

/*	Mailchimp form */
.fca_eoi_form input.fca_eoi_form_input_element{width: 100%!important;}