@charset "UTF-8";

/*!
Theme Name: 5o'click
Version: 2016.0
Author: Yuriy Pokhylko
*/

@import "bootstrap/bootstrap";

// Variables

$link: #0060a0;
$link_hover: #e05020;

/*  Common */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    padding: 3.125em 0;
}
a {
    color: $link;
    text-decoration: none !important;
    border-bottom: 1px solid rgba(0, 96, 160,.2);
    &:hover {
        color: $link_hover;
        border-color: rgba(224, 80, 32,.9);
    }
}
.clear-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Header */

.site-header {
    margin-bottom: 3.125em;
    .site-title {
        font-size: 1.125em;
        font-weight: bold;
    }
    .site-description {
        font-size: .9375em;
        line-height: 1.6;
    }
    .menu {
        margin-top: .5em;
        ul {
            @extend .clear-list;
            li {
                display: inline;
                font-size: .9375em;
                line-height: 1.6;
                &+li:before {
                    content: ' · ';
                    margin: 0 .5em;
                }
            }
        }
    }
}

/* Entry */

.hentry {
    header {
        margin-bottom: 1.5em;
        .entry-meta {}
        .entry-title {
            font-size: 2.625em;
            line-height: 1.1;
            a {
                color: #000;
            }
        }
    }
    .entry-content {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 110%;
        line-height: 1.7;
    }
}

/* Footer */

.site-footer {
    font-size: .875em;
    line-height: 1.6;
    padding-top: 3.125em;
}
