.main-img
{
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     cover;
    position:            relative;
    &:before
    {
        content:          '';
        position:         absolute;
        top:              0;
        left:             0;
        right:            0;
        bottom:           0;
        background-image: linear-gradient(to bottom, rgba(248, 80, 50, 0) 0%, rgba(102, 33, 21, 0) 59%, rgba(0, 0, 0, .8) 100%);
    }
}

.share
{
    text-decoration: underline;
}

.share-list li
{
    font-family: 'Lato', sans-serif;

    & + li
    {
        margin-left: 10px;
        color: #49494b;
    }
}

.Load-More-Wrapper
{
    text-align: center;

    .btn-loadmore
    {
        display: inline-block;

        @include Adaptive('>0px', '<SM')
        {
            background-position: 10px center;
            padding-left:        45px;
            padding-right:       10px;
            letter-spacing:      0;
        }
    }
}

.Mobile-Centrate
{
    @include Adaptive('<DS')
    {
        text-align: center;
        & > *
        {
            display: inline-block;
        }
    }
}

.Main-Header
{
    @extend %Hidden-Mobile;
    @extend %Content-Block;
    @extend %Clearfix;

    @include Adaptive('>=DS')
    {
        margin-top:    150px;
        margin-bottom: 70px;
    }

    .Left
    {
        color: #494a4b;
        span.logo a
        {

            color: #494a4b;
        }

        p
        {
            margin-top: 10px;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
        }

        .category-list
        {
            margin-top: 40px;
        }
        .category-list a
        {
            @include Underline(#494a4b $Primary #494a4b, 1px 22px);
            text-decoration: none;
            color:           #494a4b;

            &:hover
            {
                color: $Primary;
            }
        }
    }

    .Right
    {
        text-align: right;
        max-width:  300px;

        & > *
        {
            margin-top: 30px;
        }

        .Search
        {
            //input
            //{
            //	display: none;
            //}
            a.Btn-Search
            {
                display:          inline-block;
                vertical-align:   top;
                width:            42px;
                height:           42px;
                padding:          6px;

                border:           1px solid transparent;
                background-color: transparent;
                cursor:           pointer;

                svg
                {
                    display: inline-block;
                    width:   30px;
                    height:  30px;
                    fill:    #767676;

                    &:hover
                    {
                        fill: $Primary;
                    }
                }
            }
        }
    }
}

.author
{
    font:           400 16px/24px Lato, sans-serif;
    letter-spacing: 0.2px;
    color:          #feffff;

    a
    {
        font:            inherit;
        color:           #feffff;
        text-decoration: underline;
        &:hover
        {
            text-decoration: none;
        }
    }
}

.data-list
{
    color: #feffff;

    li span
    {
        font:           400 16px/21px Lato, sans-serif;
        letter-spacing: 0.2px;
        color:          #feffff;
        position:       relative;
        padding-right:  35px;
        padding-left:   0;

        &:after
        {
            content:   ".";
            display:   block;
            font-size: 30px;
            position:  absolute;
            top:       -8px;
            right:     10px;
        }

        &:last-child:after
        {
            display: none;
        }
    }
}

.category-list
{
    margin-left: 0;
    font-family: Lato, sans-serif;

    li
    {
        position:      relative;
        padding-right: 45px;
        padding-left:  0;
        font-size:     20px;

        &:after
        {
            content:   "•";
            display:   block;
            font-size: 12px;
            position:  absolute;
            top:       8px;
            right:     15px;
            color: #494a4b;
        }

        &:last-child:after
        {
            display: none;
        }
    }
}

.download
{
    font:           400 20px/30px Roboto, sans-serif;
    letter-spacing: 1px;
    color:          #878787;

    a
    {
        font:            400 20px/30px Roboto, sans-serif;
        letter-spacing:  1px;
        color:           #878787;
        text-decoration: underline;
    }
}

.img-rounded
{
    border-radius: 50%;
}

.avatar
{
    max-width: 75px;
    float:     left;
}

.img-responsive
{
    width:  100%;
    height: auto;
}

.np
{
    padding: 0;
}

.np-l
{
    padding-left: 0;
}

.np-r
{
    padding-right: 0;
}

.dp
{
    padding: 0 30px;
}

.nm
{
    margin: 0;
}

.nm-b
{
    margin-bottom: 0;
}

.clear
{
    clear: both;
}

.main-img_grad
{
    position:         absolute;
    top:              0;
    bottom:           0;
    left:             0;
    right:            0;
    filter:           progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity:          0.7;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size:  100%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000002), color-stop(100%, rgba(88, 89, 91, 0)));
    background-image: -moz-linear-gradient(bottom, #000002 0%, rgba(88, 89, 91, 0) 100%);
    background-image: -webkit-linear-gradient(bottom, #000002 0%, rgba(88, 89, 91, 0) 100%);
    background-image: linear-gradient(to top, #000002 0%, rgba(88, 89, 91, 0) 100%);
}

article .intro
{
    font-family:    "Georgia", sans-serif;
    font-size:      24px;
    line-height:    26px;
    letter-spacing: 0.2px;
    color:          #000;
    margin-bottom:  10px;
}

article .bg_block
{
    background: #f9efd7;
    padding:    60px;
}

article .bg_block p:before, article .bg_block p:after
{
    display: none;
}

article figcaption
{
    font-family:    "Lato", sans-serif;
    font-size:      15px;
    line-height:    20px;
    letter-spacing: 0;
    color:          #808284;
    margin-top:     20px;
    text-align:     center;
    position:       static;
}

p.lead
{
    font-family:    "Lato", sans-serif;
    font-size:      40px;
    line-height:    60px;
    letter-spacing: 0.4px;
    color:          #494a4b;
    font-weight:    600;
}

/* PARAGRAPH STYLE
----------------
<p> color modificators
.text-muted {}
.text-primary {}
.text-success {}
.text-info {}
.text-warning {}
.text-danger {}

<p> with background in BLOCK mode
.bg-primary {}
.bg-success {}
.bg-info {}
.bg-warning {}
.bg-danger {}

use a system class alignment <p>
.text-left {}
.text-center {}
.text-right {}
.text-justify {}
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
    margin:      0;
    padding:     0;
    display:     inline-block;
    font-weight: 600;
}

h1, .h1
{
    font-family:    "Lato", sans-serif;
    font-size:      45px;
    line-height:    55px;
    letter-spacing: 1px;
    color:          #feffff;
}

h2, .h2
{
    font-family:     "Lato", sans-serif;
    font-size:       40px;
    line-height:     55px;
    letter-spacing:  0.2px;
    color:           #494a4b;
    text-decoration: underline;
}

h4, .h4
{
    font-family:    "Lato", sans-serif;
    font-size:      22px;
    line-height:    30px;
    letter-spacing: 0.2px;
    color:          #feffff;
}

/* for some reason use title="" inside <abbr>.
   Add .initialism for make font smaller. */

.category a
{
    font-family:     "Roboto", sans-serif;
    font-size:       20px;
    line-height:     30px;
    letter-spacing:  0px;
    color:           #49494b;
    text-decoration: underline;
    font-weight:     400;
}

.list-inline > li
{
    display: inline-block;
}

// Imported from custom.css
.single article
{
    font-family: "Georgia", sans-serif;
    font-size:   17px;
    line-height: 19px;
}

.wp-caption
{
    width: 100% !important;
}

.wp-caption .wp-caption-text
{
    font-family:    "Lato", sans-serif;
    font-size:      15px;
    line-height:    20px;
    letter-spacing: 0px;
    color:          #808284;
    margin-top:     20px;
    text-align:     center;
    position:       static;
    left:           90px;
    right:          90px;
    padding-left:   0;
    padding-right:  0;
}

.single img.avatar
{
    border-radius: 50%;
    display:       block;
    max-width:     75px;
    float:         left;
}

.likely
{
    float: right;
}

.index-social
{
    float: right;
}

.single-social
{
    margin:     0 0 0 320px;
    margin-top: 40px
}

.single-social .likely
{
    float: left;
}

a.tag
{
    font-family:    "Lato", sans-serif;
    font-size:      16px;
    line-height:    24px;
    letter-spacing: 0.2px;
    color:          #feffff;
    background:     #767676;
    padding:        0 5px;
}

/* line 347, .../sass/_settings.scss */
a.tag:hover, .tag:focus, .tag:active, .tag:active:focus
{
    outline:         none;
    text-decoration: none;
    color:           #feffff;
}

/* line 122, .../sass/_style.scss */
div.search
{
    text-align: right;
}

/* line 124, .../sass/_style.scss */
div.search form input.form-control:focus
{
    box-shadow: none;
    border:     1px solid #ccc;
}

/* line 125, .../sass/_style.scss */
div.search form .btn-send
{
    background: transparent;
    color:      #767676;
}

article h1
{
    color: #49494b;
}

.tag-cloud a
{
    padding: 8px;
}

.logo a, .logo a:visited
{
    font-family:     "Lato", sans-serif;
    font-size:       40px;
    line-height:     60px;
    letter-spacing:  0.4px;
    color:           #494a4b;
    font-weight:     600;
    text-decoration: none;
}

.logo a.hover
{
    text-decoration: none;
}

.loader
{
    text-align: center;
    display:    none;
}

.Comments-Amount
{
    cursor: pointer;
}

.Post-Header .category-list li:after
{
    color: #fff;
}