// ---------------------------------------------------------------------------------------------------------------------
// Blog post page
// ---------------------------------------------------------------------------------------------------------------------

.home .Post-Header
{
    margin:    0 auto;
    max-width: 1260px;

    & > article
    {
        margin-top: 40px;
        font:       400 24px/32px Georgia, serif;
        color:      #000;

        @include Adaptive('<DS')
        {
            padding:     0 15px;
            font-size:   16px;
            line-height: 20px;
        }

        p + p
        {
            margin-top: 20px;
        }
    }

    .Tags-List
    {
        bottom: - 70px;
        @extend %Hidden-Mobile;
    }

    footer
    {
        @extend %Clearfix;
        margin-top: 20px;

        @include Adaptive('<DS')
        {
            padding: 0 15px;
        }

        .Social-Links
        {
            @extend %Clearfix;
            @include Adaptive('<DS')
            {
                display:    none;
                margin-top: 40px;
            }
            @include Adaptive('>=DS')
            {
                display:   inline-block;
                max-width: 50%;
                float:     right;
            }

            .likely
            {
                float: none;
            }
        }
    }
}

.single .Post-Header figcaption,
.single .Post-Header .category-list
{
    @include Adaptive('>=DS')
    {
        left:  calc(50vw - 630px);
        right: calc(50vw - 630px);
    }
}

.Post-Header
{
    position: relative;

    figcaption, .category-list
    {
        @include Adaptive('<DS')
        {
            left:  15px;
            right: 15px;
        }
        @include Adaptive('>=DS')
        {
            left:  30px;
            right: 30px;
        }
        position: absolute;
    }
    figcaption
    {
        bottom: 26px;
    }
    .main-img
    {
        @include Adaptive('<SL')
        {
            min-height: 250px;
        }

        @include Adaptive('<TL')
        {
            min-height: 350px;
        }

        min-height: 650px;
    }

    article p, footer
    {
        @include Adaptive('>=DS')
        {
            padding: 0 30px;
        }
    }
    .category-list
    {
        @include Adaptive('<DS')
        {
            display: none;
        }
        top:   120px;
        color: #fff;
        a
        {
            color: #fff;
        }
    }
    .data-list
    {
        float: left;
    }
    .Tags-List
    {
        @include Adaptive('<DS')
        {
            position: absolute;
            bottom:   -70px;
        }

        @include Adaptive('>=DS')
        {
            float: right;
        }
        a
        {
            text-decoration: none;
        }
    }
}

.Post-Heading
{
    @include Adaptive('<DS')
    {
        margin-bottom: 20px;
        font-size:     19px;
        line-height:   23px;
    }
    margin-bottom: 60px;
    font-family:   Lato, sans-serif;
    font-size:     50px;
    line-height:   60px;

    .bages
    {
        @extend %Badge;
    }
}

// ---------------------------------------------------------------------------------------------------------------------
.Post-Content
{
    @include Adaptive('<DS')
    {
        margin-top: 60px;
    }
    margin-top: 40px;
}

article.Post-Content,
main .Post-Author,
main .Post-Social
{
    @extend %Content-Block;

    @include Adaptive('>=DS')
    {
        padding-left: 270px;
    }
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------

.Post-Author
{
    @extend %Clearfix;

    .single &
    {
        margin-top: 50px;
    }

    @include Adaptive('<DS')
    {
        padding-left:  15px;
        padding-right: 15px;
    }

    .Post-Author-About
    {
        padding-left: 100px;
        font-family:  Roboto, sans-serif;
        font-size:    17px;
        line-height:  20px;

        @include Adaptive('<DS')
        {
            padding-top: 0;
            font-size:   15px;
            line-height: 17px;
        }

        .Author-Name
        {
            text-decoration: underline;
        }
        .Author-Info
        {
            margin-top: 10px;
            color:      #000;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
.single .Post-Social
{
    @extend %Clearfix;
    @extend %Mobile-Padding;

    margin-top: 40px;

}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
.Post-Card
{
    display:        inline-block;
    vertical-align: top;
    white-space:    normal;

    @include Adaptive('<DS')
    {
        padding: 0 15px;
    }

    @include Adaptive('>=DS')
    {
        width:   33.3%;
        padding: 0 30px;
    }
    figure
    {
        position: relative;

        .main-img
        {
            @include Adaptive('>=DS')
            {
                min-height: 250px;
            }
        }

        figcaption
        {
            position:   relative;
            font:       600 22px/28px Lato, sans-serif;
            text-align: left;
            h4
            {
                color: #000;
            }
            @include Adaptive('<DS')
            {
                margin-top: 15px;
            }
            @include Adaptive('>=DS')
            {

                position: absolute;
                bottom:   15px;
                left:     15px;
                right:    15px;
                h4
                {
                    color: #fff;
                }
            }
        }
    }
    & > a
    {
        color: #000;

        @include Adaptive('>=DS')
        {
            display:     inline-block;
            margin-top:  30px;
            font-size:   17px;
            line-height: 21px;
        }
    }

    .Post-Meta
    {
        margin-top: 20px;
        font:       400 16px/22px Lato, sans-serif;

        .Post-Author
        {
            @extend %Hidden-Mobile;

            a
            {
                display:         block;
                color:           #0060a0;
                text-decoration: underline;
            }
        }
        .Post-Read-Time
        {
            @extend %Hidden-Mobile;

            color: #494a4b;

        }

    }
    footer
    {
        @extend %Clearfix;
        @extend %Hidden-Mobile;

        margin-top: 20px;

    }
    & > a
    {
        text-decoration: none;
    }
    a.Read-More
    {
        float: left;
    }

    .Post-Social
    {
        @extend %Clearfix;

        max-width:  55%;
        padding:    0;
        float:      right;
        margin-top: 10px;
        .likely
        {
        }
    }

    .Tags-List
    {
        @extend %Hidden-Mobile;
        @extend %Clearfix;

        width:      100%;
        margin-top: 20px;

        a
        {
            text-decoration: none;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------

.Posts-Navigation
{
    display:     block;
    width:       100%;
    padding-top: 60px;
    max-width:   700px;

    > div
    {
        display:        inline-block;
        width:          35%;
        vertical-align: top;
    }

    .Posts-Navigation-Ctrl
    {
        width:      15%;
        text-align: center;
        font-size:  12px;
        max-width:  100px;
        min-width:  60px;
        a
        {
            text-decoration: none;
            color:           #000;
            font-size:  12px;
        }

        .Posts-Navigation-Prev, .Posts-Navigation-Next
        {
            font-weight: bold;
        }

        .Ctrl
        {
            background: #f0f0c0;
            padding:    0 3px;
        }
    }
}
