// ---------------------------------------------------------------------------------------------------------------------
// DISQUS comments module
// ---------------------------------------------------------------------------------------------------------------------

.Disqus-Comments
{
    display:          none;
    margin-top:       40px;
    padding:          45px 15px;
    background-color: #f5f6f7;

    @include Adaptive('>=DS')
    {
        padding: 45px;

        .Inner
        {
            margin:    0 auto;
            max-width: 1260px;
        }
    }
}

.Show-Comments
{
    display:            block;
    margin-top:         40px;
    clear:              both;
    text-align:         center;
    width:              300px;
    font-size:          20px;
    letter-spacing:     1px;
    font-weight:        400;

    background-color:   #da332b;
    border-radius:      4px;
    border:             0;
    color:              #fff;
    line-height:        40px;
    -webkit-transition: all .3s;
    transition:         all .3s;
    cursor:             pointer;
}

// ---------------------------------------------------------------------------------------------------------------------
