.Topbar
{
    position:         fixed;
    width:            100%;
    height:           72px;
    z-index:          10;
    left:             0;
    right:            0;
    top:              0;
    background-color: #fff;

    @include Adaptive('<DS')
    {
        height: 36px;
    }

    .Inner
    {
        @include Adaptive('<DS')
        {
            width:         100%;
            padding-left:  15px;
            padding-right: 15px;
        }
        @include Adaptive('>=DS')
        {
            margin:    0 auto;
            max-width: 1260px;
        }
    }

    a.Search
    {
        @include Adaptive('>=DS')
        {
            display: none;
        }
        float:   right;
        display: inline-block;
        margin:  9px 15px 0 0;

        svg
        {
            fill:   #494a4b;
            width:  10px;
            height: 10px;
        }
    }

    .Hamburger
    {
        @include Adaptive('<DS')
        {
            float:      right;
            margin-top: 6px;
            width:      20px;

            span,
            span:before,
            span:after
            {
                width:  20px;
                height: 2px;
            }

            span:before
            {
                top: 4px;
            }
            span:after
            {
                bottom: 4px;
            }
        }
        @include Adaptive('>=DS')
        {
            margin-right: 150px;
        }
    }

    .Logo
    {
        display:        inline-block;
        vertical-align: middle;
        position:       relative;

        @include Adaptive('<DS')
        {
            width: 99px;
        }

        img
        {
            display: block;
            width:   100%;
        }

        &:before, &:after
        {

            content:    '';
            position:   absolute;
            top:        71px;
            width:      2000px;
            height:     34px;
            background: url(../../../../images/header-shadow.png) top center repeat;
            @include Adaptive('<DS')
            {
                background-size: auto 17px;
                top:             36px;
                height:          17px;
            }
        }
        @include Adaptive('<DS')
        {
            &:before
            {
                left: 99px;
            }
            &:after
            {
                right: 99px;
            }
        }
        @include Adaptive('>=DS')
        {
            &:before
            {
                left: 198px;
            }
            &:after
            {
                right: 198px;
            }
        }

    }

    .Subscription
    {
        @include Adaptive('<DS')
        {
            display: none;
        }
        float:          right;
        margin:         15px 0;
        display:        inline-block;
        vertical-align: top;
        font-family:    'Roboto', sans-serif;
        label
        {
            display:        inline-block;
            vertical-align: middle;
            max-width:      160px;
            font-family:    'Roboto', sans-serif;
            font-weight:    100;
            font-size:      15px;
            line-height:    18px;
            color:          #333;
        }
        input[type="email"]
        {
            vertical-align: middle;
            width:          225px;
            padding:        0 10px;
            font-family:    'Roboto', sans-serif;
            border-radius:  4px;
            border:         1px solid #88888a;
            line-height:    40px;
        }
        input::-webkit-input-placeholder
        {
            font-family: 'Roboto', sans-serif;
            font-size:   20px;
            color:       #a8a8a8;
        }
        button
        {
            @extend %Button-Primary;
            display:        inline-block;
            margin-left:    25px;
            vertical-align: middle;
            width:          200px;
            text-align:     center;
            font-size:      20px;
            letter-spacing: 1px;
            font-family:    'Roboto', sans-serif;
            font-weight:    400;
            cursor:         pointer;
        }
    }
}

.Search-Popup, .Menu-Popup
{

    display:          none;
    position:         absolute;
    top:              0;
    left:             0;
    right:            0;
    bottom:           0;
    height:           200vh;
    width:            100%;
    background-color: rgba(0, 0, 0, .5);

    @include Adaptive('>=DS')
    {
        display: none;
    }

    .Icon
    {
        position: absolute;
        top:      0;
        z-index:  20;
        padding:  12px;
        cursor:   pointer;

        &.Search
        {
            left: 3px;
            @include Adaptive('>=DS')
            {
                display: none !important;
            }
        }

        &.Close
        {
            right: 3px;
        }
    }

    svg
    {
        fill:   #fff;
        width:  11px;
        height: 11px;
    }

    input
    {
        width:            100%;
        padding:          0 40px;
        background-color: #767676;
        font-size:        15px;
        font-family:      Lato, sans-serif;
        line-height:      36px;
        color:            #fff;
        border:           0;
        appearance:       none;

        &:focus
        {
            outline: 0;
        }

    }

    &.Active
    {
        display: block;
    }
}

.Menu-Popup
{
    display: none;

    @include Adaptive('>=DS')
    {
        input[type=search]
        {
            display: none;
        }
    }

    .Menu-Popup-Content
    {
        position:         relative;
        display:          inline-block;
        width:            80%;
        height:           100vh;
        left:             100%;
        transition:       0.3s;
        background-color: #767676;

        @include Adaptive('>=DS')
        {
            height:         100%;
            padding-bottom: 15px;
        }

        .Menu-Links
        {
            width:       100%;
            padding-top: 15px;
            border-top:  1px solid #959595;

            li
            {
                a
                {
                    display:         block;
                    padding:         0 15px;

                    color:           #fff;
                    font:            600 15px/30px Lato, sans-serif;
                    text-decoration: none;
                }
            }
        }

        .Social-Links
        {
            margin-top: 15px;

            & > li
            {
                display:     inline-block;
                margin-left: 15px;
            }
        }
    }
}

@include Adaptive('>=DS')
{
    .Search-Popup, .Menu-Popup
    {
        display: none;
    }
}

.Search input.form-control
{
    display: none;
}

