.News-Popular
{
	background:  #f9efd7;

	white-space: nowrap;
	overflow-x:  scroll;
	@include Adaptive('>=DS')
	{
		white-space: normal;
		overflow-x:  scroll;
	}

	.Close
	{
		@extend %Hidden-Mobile;
	}

	h3
	{
		@extend %Hidden-Mobile-Inline;
	}
}
.single .News-Popular h2
{
	@include Adaptive('>=DS')
	{
		margin-bottom: 30px;
	}
}
.News-Popular
{
	@include Adaptive('>=DS')
	{
		overflow: hidden;
	}

	.Hide-Mobile
	{
		margin: 50px 0 30px;
	}
	.main-img
	{
		@include Adaptive('<DS')
		{
			min-height: 250px;
		}
	}
}

.News-Latest
{
	.Post-Card
	{
		@include Adaptive('<DS')
		{
			margin-top: 30px;
		}
	}

}

.News-Popular,
.News-Latest
{
	box-sizing: border-box;
	margin:     60px auto 0;
	padding-bottom: 30px;
	max-width:  1260px;

	header
	{
		svg.Icon.Close
		{
			@extend %Transition-Std;
			margin: 30px 30px 0 0;
			float:  right;
			width:  22px;
			height: 22px;
			cursor: pointer;
			stroke: #757575;
			&:hover
			{
				stroke: $Primary;
			}
		}
	}
	h2
	{
		& > a
		{
			@extend %Transition-Std;

			color: inherit;
			text-decoration: none;

			&:hover
			{
				color: $Primary;
			}
		}

		font-family: 'Lato', sans-serif;
		font-weight: 700;

		@include Adaptive('<DS')
		{
			margin: 30px 15px 20px;
			font-size:   20px;
			line-height: 22px;
			text-decoration: none;
		}

		@include Adaptive('>=DS')
		{
			@include Underline(#b8b8b8 #b8b8b8 #b8b8b8, 1px 42px);
			margin-top:  30px;
			margin-left: 30px;
			font-size:   40px;
			line-height: 44px;
		}
	}
	h3
	{
		&, & > a
		{
			@extend %Heading-Underlined;
			color: #494a4b;
		}

		& > a
		{
			@extend %Transition-Std;

			cursor: pointer;

			&:hover
			{
				color: $Primary;
			}
		}

		margin-left: 15px;

		@include Adaptive('>=DS')
		{
			margin-left: 30px;
		}
	}

	header + h3
	{
		margin-top: 50px;
	}

	& > article
	{
		@include Adaptive('>=DS')
		{
			margin-top: 40px;
		}

		figure
		{
			.main-img
			{
				min-height: 250px;
			}
		}
	}

	footer
	{
		margin-top: 80px;
		text-align: center;
	}
}