// ---------------------------------------------------------------------------------------------------------------------
// Social Buttons (Mobile)
// ---------------------------------------------------------------------------------------------------------------------

.Social-Mobile
{
	@include Adaptive('>=DS')
	{
		display: none;
	}
	position: fixed;
	bottom: 15px;
	left: 15px;
	right: 15px;
	z-index: 100;

	font-size: 0;

	li
	{
		display: inline-block;
		height: 36px;
		width: 22%;
		border-radius: 4px;
		line-height: 36px;
		text-align: center;
		svg
		{
			vertical-align: middle;
			display: inline-block;
			fill: #fff;
			width: 40px;
			height: 16px;
		}
		&.Twitter
		{
			background-color: $C-Twitter;
		}

		&.Facebook
		{
			background-color: $C-Facebook;
		}

		&.Vk
		{
			background-color: $C-Vkontakte;

			svg
			{
				height: 14px;
			}
		}

		&.More
		{
			background-color: #95a5a6;
		}

		& + li
		{
			margin-left: 4%;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
