.Subscription-Form
{
	margin-top:  80px;
	font-family: Roboto, sans-serif;

	h4
	{
		font-size:      20px;
		color:          #000;
		text-align:     center;
		display:        block;
		letter-spacing: 0;

		@include Adaptive('>=DS')
		{
			font-size: 30px;
		}
	}

	p
	{
		margin-top:     15px;
		text-align:     center;
		display:        block;
		font-size:      13px;
		line-height:    17px;
		letter-spacing: 0;
		color:          #000;

		@include Adaptive('>=DS')
		{
			font-size:   17px;
			line-height: 30px;
		}

		a
		{
			text-decoration: underline;
		}
	}

	form
	{
		text-align: center;
		border:  0;
		padding: 15px 0 80px;

		@include Adaptive('>=DS')
		{
			input, button
			{
				line-height: 40px;
				height:      40px;
			}
		}
	}

	input[type='email']
	{
		@extend %Component-Placeholder-Huge;
		font-size: 20px;
	}

	button
	{

		@include Adaptive('<DS')
		{
			margin-top: 15px;
		}
	}

}