// ---------------------------------------------------------------------------------------------------------------------
// Post styles
// ---------------------------------------------------------------------------------------------------------------------

article.Post-Content
{
	// Elements with side padding on mobile viewports
	p, ol, ul, h1, h2, h3, h4, h5, h6
	{
		@include Adaptive('<DS')
		{
			padding: 0 15px;
		}
	}

	h2
	{
		margin-top:      40px;

		font:            700 21px/23px Lato, sans-serif;
		letter-spacing:  0.2px;
		color:           #333;
		text-decoration: none;

		@include Adaptive('>=DS')
		{
			font-size:   42px;
			line-height: 56px;
		}
	}

	h3
	{
		margin-top: 30px;
		font:       700 17px/20px Lato, sans-serif;
		color:      #333;

		@include Adaptive('>=DS')
		{
			margin-top:  35px;
			font-size:   30px;
			line-height: 40px;
		}

	}

	h5
	{
		font:  700 15px/19px Lato, sans-serif;
		color: #555;

		@include Adaptive('>=DS')
		{
			font: 600 17px/21px Lato, sans-serif;
		}
	}

	p
	{
		font-family: Georgia, serif;

		@include Adaptive('<DS')
		{
			font-size:   15px;
			line-height: 20px;
		}
		@include Adaptive('>=DS')
		{
			font-size:   17px;
			line-height: 29px;
		}

		&.intro
		{
			@include Adaptive('<DS')
			{
				font-size:   19px;
				line-height: 26px;
			}
			@include Adaptive('>=DS')
			{
				font-size:   24px;
				line-height: 32px;
			}
		}
		img
		{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	* + *
	{
		margin-top: 20px;
	}

	p + p, li + li
	{
		margin-top: 10px;
	}

	p + ol, p + ul
	{
		margin-top: 10px;
	}

	blockquote
	{

		position:       relative;
		padding:        30px;
		letter-spacing: 0;
		color:          #3b3b3b;

		@include Adaptive('>=DS')
		{
			padding: 60px 100px;
		}

		p
		{
			font-family: Lato, sans-serif;
			font-size:   12px;
			line-height: 15px;

			@include Adaptive('>=DS')
			{
				font-size:   23px;
				line-height: 30px;
			}

			&:before, &:after
			{
				content:  "";
				position: absolute;
				display:  block;
				width:    31px;
				height:   48px;

				@include Adaptive('<DS')
				{
					width:           15px;
					height:          24px;
					background-size: cover;
				}
			}

			&:before
			{
				background: url(../img/icons/q1.png) center center no-repeat;
				top:        40px;
				left:       30px;

				@include Adaptive('<DS')
				{
					top:  24px;
					left: 15px;
				}
			}

			&:after
			{
				background: url(../img/icons/q2.png) center center no-repeat;
				bottom:     40px;
				right:      60px;

				@include Adaptive('<DS')
				{
					bottom: 24px;
					right:  15px;
				}
			}
		}
	}
	img
	{

	}

	figure
	{
		text-align: center;
		padding:    0;

		figcaption
		{
			@include Adaptive('<DS')
			{
				font-size:   10px;
				line-height: 13px;
			}
			@include Adaptive('>=DS')
			{
				font-size:   15px;
				line-height: 20px;
			}
		}
		img
		{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	ol,
	ul
	{
		padding-left: 30px;
	}
	ol
	{

		list-style:      inside;
		list-style-type: decimal;
		@include Adaptive('<DS')
		{
			padding-left: 15px;
			font-size:    15px;
			line-height:  20px;
		}
		@include Adaptive('>=DS')
		{
			padding-left: 30px;
			font-size:    16px;
			line-height:  22px;
		}
	}

	ul
	{
		list-style:      inside;
		list-style-type: circle;
	}

	.left-mark
	{
		font-family: Lato, sans-serif;

		ol, ul
		{
			padding-left: 0;
		}

		h5
		{
			font-size: 24px;
			line-height: 32px;
			color: #000;
		}
		
		@include Adaptive('<DS')
		{
			display:      block;
			float:        none;
			margin-left:  50px;
			padding-left: 10px;
			border-left:  3px solid #555;
		}
		@include Adaptive('>=DS')
		{
			max-width:   215px;
			margin-top:  0;
			margin-left: -260px;
			float:       left;
			font-size:   16px;
			line-height: 22px;
		}

		& + *
		{
			@include Adaptive('>=DS')
			{
				margin-top: 0;
			}
		}
	}
	.yellow_quote
	{
		position:       relative;
		padding:        60px;
		margin-bottom:  20px;

		font:    400 23px/30px Lato, sans-serif;
		letter-spacing: 0;
		color:          #3b3b3b;
		background:     #f9efd7;

		@include Adaptive('<DS')
		{
			padding:     40px;
			font-size:   12px;
			line-height: 15px;
		}
	}

	img
	{
		display: block;
		width: 100%;
		height: auto;
	}

}

.single article
{
	@include Adaptive('<DS')
	{
		margin-left: auto;
	}
}

.subs-form
{
	margin-top: 40px;
}
