* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
pre,
table, thead, tbody, tr, th, td,
img, pre, tt, code,
form, input, textarea, select, button {
  margin: 0;
  padding: 0;
  outline: none;
  text-indent: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  vertical-align: baseline;
}

body,
form, input, textarea, select, button {
  font-family: sans-serif;
}

pre, tt, code, pre *, tt *, code * {
  font-family: monospace;
}

body {
  background: #fff;
  color: #000;
  font-size: 16px;
}

form {
  display: inline;
}

textarea {
  width: 100%;
}

code {
  white-space: pre;
}

img {
  border: 0;
}

table {
  empty-cells: show;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  vertical-align: top;
  text-align: left;
}

ul li {
  list-style-type: disc;
}

.e2-text-picture a {
  position: relative;
  display: inline-block;
}

.e2-text-picture a .e2-text-picture-zoom-icon,
.e2-text-picture a .e2-text-picture-zoom-in,
.e2-text-picture a .e2-text-picture-zoomable {
  position: absolute;
  width: 12px;
  height: 12px;
}

.e2-text-picture a .e2-text-picture-zoom-icon {
  right: 6px;
  top: 6px;
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.e2-text-picture a:hover .e2-text-picture-zoom-icon {
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.e2-text-picture a .e2-text-picture-zoom-in,
.e2-text-picture a .e2-text-picture-zoomable,
.e2-text-picture a img {
  border-style: solid;
}

.e2-text-picture a .e2-text-picture-zoom-in {
  right: 5px;
  border-width: 0 2px 0 0;
}

.e2-text-picture a .e2-text-picture-zoomable {
  top: 5px;
  border-width: 2px 0 0 0;
}

.e2-text-picture a.e2-text-picture-zoomed .e2-text-picture-zoom-in {
  opacity: 0;
}

.e2-text-picture a.e2-text-picture-link,
.e2-text-picture a.e2-text-picture-zoom-link {
  border: none;
}

.e2-text-picture a img {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  border-width: 1px;
  margin: -1px;
}

.e2-text-picture a img {
  border-color: #e8e8e8;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.e2-text-picture a:hover img,
.e2-text-picture a.hover img,
.e2-text-picture a .e2-text-picture-zoom-in,
.e2-text-picture a .e2-text-picture-zoomable {
  border-color: #d04000;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.e2-tag-filter-slide-area {
  background: #e8e8e8;
  margin: 0 8px;
  padding: 4px 12px;
  border-radius: 3px;
  cursor: pointer;
  cursor: hand;
}

.e2-tag-filter-slide {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 1px;
  top: -1px;
}

.e2-tag-filter-slide-shaft {
  position: absolute;
  left: 0;
  top: -1px;
  width: 100px;
  height: 2px;
}

.e2-tag-filter-slider {
  position: absolute;
  left: 50px;
  width: 16px;
  height: 16px;
}

.e2-tag-filter-slider span {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -6px;
  top: -5px;
}

.e2-tag-filter-slide-shaft,
.e2-tag-filter-slider span {
  background: #0000a0;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.e2-tag-filter-slide-area:hover .e2-tag-filter-slide-shaft,
.e2-tag-filter-slide-area:hover .e2-tag-filter-slider span {
  background: #d04000;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.e2-search {
  white-space: nowrap;
  position: relative;
  _display: table;
  width: 100%;
}

.e2-search-input input {
  -webkit-appearance: none;
  border-radius: 3px;
  background: white url('../images/loupe.png?1394052846') 4px center no-repeat;
  padding-left: 24px !important;
  padding-right: 20px !important;
  width: 100%;
  height: 28px;
}

.e2-heading .e2-search-input input {
  height: 36px;
}

.e2-search-button {
  position: absolute;
  width: 20px;
  right: 4px;
  top: 4px;
}
.e2-search-button button {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 0 0 .33em;
  cursor: pointer;
  cursor: hand;
}

.e2-pages-prev,
.e2-pages-between,
.e2-pages-next {
  display: inline-block;
  vertical-align: top;
}

.e2-pages-prev,
.e2-pages-next {
  max-width: 40%;
}

.e2-pages-between {
  padding: 0 1em;
  white-space: nowrap;
}

.e2-user-picture-container {
  display: inline-block;
  max-width: 128px;
  max-height: 128px;
}

.e2-user-picture-container-uploading {
  background: url('../images/loading-spinner.gif?1265192751') center center no-repeat;
}

.e2-external-drop-target-dragover {
  position: relative;
  background: rgba(96, 160, 255, 0.2);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  border-color: #60a0ff;
  border-radius: 3px;
}

.e2-external-drop-target-dragover img,
.e2-user-picture-container-uploading img {
  opacity: .4;
}

.e2-glass {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  b-ackground: #000608;
  background: #c0c0c0;
  z-index: 996;
  opacity: .9;
  transition: all .33s ease-out;
}

.e2-glass-text {
  position: fixed;
  left: 0;
  top: 200px;
  width: 100%;
  z-index: 998;
}

.e2-glass-text h1 {
  line-height: 1.5em;
  font-weight: normal;
  margin: 0 0 .75em;
}

.e2-glass-text p {
  max-width: none;
}

.e2-glass-text * {
  text-align: center;
  color: #000;
}

.e2-glass-text a,
.e2-glass-text a:link,
.e2-glass-text a:visited {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1.5em;
  padding: 4px 1em;
}

.e2-glass-text a:hover {
  color: #ff6666;
}

.e2-message {
  font-size: 15px;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 24px;
  background: #f0d040;
  color: #d04000;
}

.e2-message + .e2-message {
  margin-top: -16px;
}

.e2-message-info {
  background: #0040cc;
  color: #fff;
}
.e2-message-info * {
  color: #fff;
}

.e2-message-serious {
  background: #e05030;
  color: #fff;
}
.e2-message-serious * {
  color: #fff;
}

.e2-login-sheet {
  position: fixed;
  z-index: 998;
  left: 50%;
  top: 30%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.e2-show {
  visibility: visible;
  opacity: 1;
}

.e2-login-sheet-guts {
  position: relative;
  z-index: 999;
  top: -10px;
  margin: 0 -240px;
  width: 480px;
  background: #fff;
  padding: 30px 0;
  border-radius: 6px;
  -webkit-transform: scale(0.7);
  opacity: 0;
  transition: all .25s ease-out;
  /*
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  */
}
.e2-login-sheet-guts h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 12px;
}
.e2-login-sheet-guts .sign-in-button {
  font-size: 13px;
  padding: 4px 10px;
}
.e2-login-sheet-guts label {
  font-size: 13px;
}
.e2-login-sheet-guts table {
  margin: 0;
}
.e2-login-sheet-guts td {
  padding: 0;
}

.e2-show .e2-login-sheet-guts {
  opacity: 1;
  -webkit-transform: scale(1);
}

input.text, textarea, select, button {
  border: 1px #d0d0d0 solid;
  border-radius: 3px;
  padding: 4px;
  -webkit-transition-property: border-color, background;
  -moz-transition-property: border-color, background;
  -o-transition-property: border-color, background;
  transition-property: border-color, background;
  -webkit-transition-duration: 0.33s;
  -moz-transition-duration: 0.33s;
  -o-transition-duration: 0.33s;
  transition-duration: 0.33s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

select {
  -webkit-appearance: none;
}

input.text:focus,
textarea:focus,
select:focus,
button:focus {
  border-color: #60a0ff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

select {
  padding-right: 19px;
  background: url('../images/chevron-down.png?1388869917') right center no-repeat !important;
}

select > button {
  display: none;
}

.form,
.form-part,
.form-control,
.form-subcontrol {
  float: left;
  width: 100%;
}

.form-part,
.form-control,
.form-subcontrol {
  clear: left;
}

.form-label {
  clear: left;
  float: left;
  width: 17.07%;
  padding: 0 20px 0 0;
}

.form-element {
  margin-left: 17.07%;
  width: 82.93%;
}

.form-part {
  width: 100%;
  margin: 0 0 24px 0;
}

.form-control {
  width: 100%;
  margin: 0 0 12px 0;
}

.form-control .input-label {
  margin-top: 5px;
}

.form-control .input-error {
  background: #ffece0;
}

.form-control input.text {
  margin-bottom: 8px;
}

.form-control input.big {
  font-size: 24px;
  margin-bottom: 8px;
}

.form-control select,
.form-control textarea {
  margin-bottom: 8px;
}

.form-control .disabled {
  color: #999;
}

.form-subcontrol {
  width: 100%;
  margin: 0 0 8px 0;
}

.form-subcontrol-master {
  margin: 0 0 0 0;
}

.form-subcontrol-slave {
  margin: 0 0 0 16px;
}

.form-control .full-width {
  width: 100%;
}

.form-control .width-4 {
  width: 80%;
}

.form-control .width-3 {
  width: 60%;
}

.form-control .width-2 {
  width: 40%;
}

.form-control .width-1 {
  width: 20%;
}

.form-control .icon {
  position: relative;
  left: -0.5em;
  width: 0;
}

.form-control .icon span.i-lock-mini,
.form-control .icon span.i-loading {
  position: absolute;
  right: 0;
  top: 4px;
}

.form-control-sublabel {
  width: 75%;
  font-size: 12px;
}

.submit-box, .delete-box {
  /* border-top: #f0c040 1px solid; */
  padding: 0 0 40px 0;
  border-radius: 3px;
}

.submit-box p {
  font-size: 13px;
  color: #665;
}

.delete-box {
  border: 0;
  background: #e05030;
  padding-top: 20px;
  color: #fff;
}

.submit-box *, .delete-box * {
  vertical-align: baseline;
}

.button {
  display: inline;
  display: inline-block;
  outline: none;
  padding: 4px 10px;
  background: #f0f0f0;
  border: 1px #e0e0e0 solid;
  border-radius: 3px;
  font-size: 13px;
  font-weight: normal;
  font-family: sans-serif;
  cursor: hand;
  cursor: pointer;
  color: #000;
}

.button:visited {
  color: #000;
  border-color: #e0e0e0;
}

.submit-box .button {
  background: #ffe060;
  border-color: #f0c040;
}

.delete-box .button {
  background: #ffe4e0;
  border-color: #d04000;
}

.button:disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
  pointer-events: none;
}

.button:active:hover {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.button:hover,
.button.hover {
  background: #f6f6f6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.button:focus {
  border-color: #c0c0c0;
}

.submit-box .button:hover {
  background: #ffe86c;
}

.submit-box .button:focus {
  border-color: #c08000;
}

.delete-box .button:hover {
  background: #fff0ec;
}

.delete-box .button:focus {
  border-color: #802000;
}

.button * {
  vertical-align: absmiddle;
}

.submit-button {
  font-size: 16px;
  padding: 10px 1.33em;
  font-weight: bold;
}

.sign-in-button {
  font-size: 13px;
  padding: 4px 10px;
}

.e2-keyboard-shortcut {
  background: #f0f0c0;
  color: #a64;
  padding: 0 .33em;
  border-radius: 3px;
  text-decoration: none;
  font-size: 85%;
}

.submit-box .e2-keyboard-shortcut {
  background: transparent;
  border: none;
  margin-left: .67em;
  color: #a06040;
  font-weight: normal;
  font-size: 85%;
}

.e2-keyboard-shortcut:empty {
  display: none;
}

.input-remark {
  margin-left: 1em;
}

.e2-toolbar {
  margin: 0 0 20px 0;
}

.e2-toolbar a {
  display: inline-block;
  text-decoration: none;
  border: none;
  margin-right: 1em;
}

.i-loading {
  background-image: url('../images/loading-spinner.gif?1265192751');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/loading-spinner.gif?1265192751');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-edit {
  background-image: url('../images/edit.png?1299055304');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/edit.png?1299055304');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-edit-small {
  background-image: url('../images/edit-small.png?1299055316');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/edit-small.png?1299055316');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-login {
  background-image: url('../images/login.png?1394053840');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/login.png?1394053840');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

.i-lock {
  background-image: url('../images/lock.png?1392705653');
  background-repeat: no-repeat;
  width: 21px;
  height: 30px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/lock.png?1392705653');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

.i-lock-mini {
  background-image: url('../images/lock-mini.png?1395657592');
  background-repeat: no-repeat;
  width: 13px;
  height: 18px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/lock-mini.png?1395657592');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

.i-tick {
  background-image: url('../images/tick.png?1394054162');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/tick.png?1394054162');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-blank {
  background-image: url('../images/blank-window.gif?1310158191');
  background-repeat: no-repeat;
  width: 10px;
  height: 8px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/blank-window.gif?1310158191');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-remove-pic {
  background-image: url('../images/remove-pic.png?1340814011');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/remove-pic.png?1340814011');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-attach {
  background-image: url('../images/attach.gif?1262602851');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/attach.gif?1262602851');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -3px;
}

.i-remove {
  background-image: url('../images/remove.png?1340813545');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/remove.png?1340813545');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-favourite {
  background-image: url('../images/star.gif?1219521703');
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/star.gif?1219521703');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-favourite-set {
  background-image: url('../images/star-set.png?1299054328');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/star-set.png?1299054328');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-favourite-unset {
  background-image: url('../images/star-unset.png?1342727975');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/star-unset.png?1342727975');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-important-set {
  background-image: url('../images/marker-remove.png?1299054968');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/marker-remove.png?1299054968');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-important-unset {
  background-image: url('../images/marker.png?1299054936');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/marker.png?1299054936');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-pinned-set {
  background-image: url('../images/pinned.png?1394053726');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/pinned.png?1394053726');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-pinned-unset {
  background-image: url('../images/pin.png?1394053708');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/pin.png?1394053708');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-reply {
  background-image: url('../images/reply.png?1394054074');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/reply.png?1394054074');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-email {
  background-image: url('../images/email.png?1299055267');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/email.png?1299055267');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-email-subscribed {
  background-image: url('../images/email-subscribed.png?1299055254');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/email-subscribed.png?1299055254');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-no-comments {
  background-image: url('../images/no-comments.png?1394054001');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/no-comments.png?1394054001');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}

.i-enter {
  background-image: url('../images/enter.png?1394052665');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: 0px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/enter.png?1394052665');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 0 0 2px 0;
}

:hover > .i-enter {
  background-image: url('../images/enter.png?1394052665');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  background-position: -16px 0;
  font-size: 0;
  line-height: 0;
  _background-image: url('../images/enter.png?1394052665');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 0 0 2px 0;
}

.e2-note, .e2-comment {
  margin-bottom: 40px;
}

.e2-note h1 {
  -webkit-transition-property: font-size, line-height;
  -moz-transition-property: font-size, line-height;
  -o-transition-property: font-size, line-height;
  transition-property: font-size, line-height;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.help {
  font-size: 11px;
}

.help a, .help a:active, .help a:visited {
  color: #999;
  border-color: rgba(153, 153, 153, 0.15);
}

.help a:hover {
  color: #d04000;
  border-color: rgba(208, 64, 0, 0.15);
}

a, a u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
}

a {
  color: #0000a0;
  border-color: rgba(0, 0, 160, 0.15);
  -webkit-transition-property: border-bottom, border-color, background, color;
  -moz-transition-property: border-bottom, border-color, background, color;
  -o-transition-property: border-bottom, border-color, background, color;
  transition-property: border-bottom, border-color, background, color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a:visited {
  color: #8000a0;
  border-color: rgba(128, 0, 160, 0.15);
}

a:hover,
a.hover,
.e2-clickable-keyboard-shortcut:hover,
.e2-clickable-keyboard-shortcut.hover {
  color: #d04000;
  border-color: rgba(208, 64, 0, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.e2-pseudolink {
  border-bottom-style: dashed;
}

.e2-clickable-keyboard-shortcut {
  cursor: pointer;
  cursor: hand;
}

.e2-hidden {
  opacity: .4;
}

.e2-marked {
  background: #fff8b8;
}

.e2-spam, .e2-spam * {
  color: #b96;
}

.e2-upload-error {
  color: red;
}

.e2-visual-login {
  position: relative;
  left: 4px;
  bottom: 4px;
  opacity: .25;
}

.e2-rss, .e2-rss:visited {
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 1px 1px 1px 3px !important;
  font-size: 10px;
  line-height: 10px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
}

.e2-rss:hover, .e2-rss.hover {
  color: #fff;
  background: #d04000;
}

/* reserved */
.nu {
  text-decoration: none;
  border-bottom-width: 0;
}
.nu u {
  text-decoration: none;
  border-bottom-width: 1px;
}

.small {
  font-size: 85%;
}

/*

reserved classes:
  .text (input.text)
  .hover
  .nu
  .big (input.big)
  .small
  .fotorama
  .social-likes
  .i-
  .form-*
  .e2-*

*/
