.e2-tag-filter-slide-area {
  background: $c_light;
  margin: 0 8px;
  padding: 4px 12px;
  border-radius: 3px;
  cursor: pointer;
  cursor: hand;
}

.e2-tag-filter-slide {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 1px;
  top: -1px
}

.e2-tag-filter-slide-shaft {
  position: absolute;
  left: 0; top: -1px;
  width: 100px;
  height: 2px;
}


.e2-tag-filter-slider {
  position: absolute;
  left: 50px;
  width: 16px;
  height: 16px;
}

.e2-tag-filter-slider span {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -6px;
  top: -5px;
}

.e2-tag-filter-slide-shaft,
.e2-tag-filter-slider span {
  background: $c_link;
  @include transition-property((background));
  @include transition-duration($time);
  @include transition-timing-function(ease-out);
}

.e2-tag-filter-slide-area:hover .e2-tag-filter-slide-shaft,
.e2-tag-filter-slide-area:hover .e2-tag-filter-slider span {
  background: $c_hover;
  @include transition(none);
}