@import 'compass';

$w_left_pad: 40px;
$w_gut:      16px;

$c_link:    #0060a0;
$c_visited: #70a0b0;
$c_hover:   #e05020;
$c_grey:    #a0a0a0;
$c_light:   #e8e8e8;

$c_red:     #e05020;
$c_tag:     #556677;

$thin:      0.85;




/* html and layout */

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

body, input, textarea, select, button,
pre, tt, code, pre *, tt *, code * {
  font-size: 15px;
  line-height: 22px;
}

body, input, textarea, select, button {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

pre, tt, code, pre *, tt *, code * {
  font-family: "Consolas", "Courier New", monospace;
}

sup, sub {
  position: relative;
  vertical-align: middle;
  font-size: 75%;
  font-weight: normal; 
}

sup { bottom: 0.5em; }

sub { top: 0.5em; }

a {
  color: $c_link;
  border-color: transparentize($c_link, $thin);
}

a:visited {
  color: $c_visited;
  border-color: transparentize($c_visited, $thin)
}

a:hover,
a.hover {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin);
}

.common {
  margin: 16px auto;
  max-width: 1280px;
}

.level {
  width: 80%;
  margin: 0 auto 32px;
  max-width: 920px;
}

.flag {
  width: 100%;
  margin-bottom: 48px;
}

.spotlight {
  width: 20%;
  white-space: nowrap;
  float: right;
  margin: 14px 0 0 2%;
}

.title, .intro {
  clear: left;
  width: 78%;
}

.menu {
  width: 100%;
  margin: 8px 0 0;
}

.content {
  min-height: 320px;
}

.footer {
  margin-bottom: 24px;
}




.title h1 {
  margin: 30px 0 16px 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #000;
}

.title h1 a,
.title h1 a:visited {
  color: #000;
  border-color: transparentize(#000, $thin)
}

.title h1 a:hover,
.title h1 a.hover {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin)
}

.sidebar {
  position: relative;
  font-size: 12px;
  line-height: 16px;
}

.sidebar * {
  line-height: 16px;
}

.sidebar li {
  margin-bottom: 8px;
}

.sidebar h2 {
  font-weight: bold;
  margin-bottom: 4px;
}

.sidebar h2 a,
.sidebar h2 a:visited {
  color: #000;
  border-color: transparentize(#000, $thin);
}

.sidebar h2 a:hover,
.sidebar h2 a.hover {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin)
}

.widget {
  margin-bottom: 16px;
}

.widget a {
  padding-top: 2px;
}

.footer {
  font-size: 12px;
  line-height: 16px;
}

.footer * {
  line-height: 16px;
}

.engine {
  color: $c_grey;
}  

.engine a, .engine a:link, .engine a:visited {
  color: $c_grey;
  border-color: transparentize($c_grey, $thin)
}

.engine a:hover, .engine a:active {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin)
}



/* headings */

.e2-heading {
  margin-bottom: 40px;
}

.e2-heading h2 {
  margin: -8px 0 0 0; 
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000;
}

.e2-heading-super {
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 -6px 0;
}

.e2-heading-see-also {
  margin-top: 10px;
}

.e2-heading-description {
  margin: 0 0 40px;
}

.e2-year-months,
.e2-month-days {
  background: $c_light;
  font-size: 12px;
  line-height: 16px;
  padding: 4px;
  margin: 0;
}

.e2-year-month,
.e2-month-day { 
  padding: 4px;
}

.e2-month-day-current {
  background: #fff;
  border-radius: 3px;
}

.e2-period-unavailable {
  color: $c_grey;
}

.e2-section-heading {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 0 8px 0; 
}




/* text */

.e2-text h2,
.e2-text h3 {
  font-size: 100%;
  line-height: inherit;
  margin: 26px 0 10px 0;
}

.e2-text h2 { font-weight: bold; }

.e2-text h3 { font-style: italic; }

.e2-text h2+h3,
.e2-text h2:first-child,
.e2-text h3:first-child {
  margin-top: 0;
}

.e2-text-generic-object,
.e2-text p,
.e2-text ul,
.e2-text ol,
.e2-text li,
.e2-text blockquote {
  margin: 0 0 10px 0;
}

.e2-text p,
.e2-text ul,
.e2-text ol,
.e2-text li,
.e2-text blockquote,
.e2-text-audio {
  max-width: 720px;
}

.e2-text ul,
.e2-text ol,
.e2-text blockquote {
  padding: 0 0 0 $w_left_pad;
}

.e2-text p+ul, .e2-text p+ol {
  margin-top: -10px;
}

.e2-text ul li {
  list-style-type: none;
}

.e2-text th, .e2-text td {
  padding: 0 $w_gut 10px 0;
}

.e2-text th {
  font-weight: bold;
}

.e2-text-picture,
.e2-text-picture.fotorama,
.e2-text-video {
  margin: 0 0 20px 0;
}

.e2-text-picture p,
.e2-text-video p {
  /* if an image has a caption, it should be smaller than the normal text */
  margin: 4px 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.e2-text-picture a img {
  /* an image which is also a link should have a border */
  border-color: $c_light;
}

.e2-text-picture a:hover img,
.e2-text-picture a.hover img,
.e2-text-picture a .e2-text-picture-zoom-in,
.e2-text-picture a .e2-text-picture-zoomable {
  /* a hovered image should have a different frame color, */
  /* same color applies to the plus and minus of zoomable images */
  border-color: $c_hover;
}

.e2-text-picture a.e2-text-picture-zoomed {
  /* when a large zoomable image is zoomed, */
  /* it should not touch the right edge of the browser */
  margin-right: $w_gut;
}




/* notes */

.e2-note,
.e2-note-list {
  margin-bottom: 48px;
}

.e2-note h1 {
  margin: -4px 0 2px;
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  max-width: 720px;
}


.e2-note h1 a,
.e2-note h1 a:visited {
  color: #000;
  border-color: transparentize(#000, $thin);
}

.e2-note h1 a:hover,
.e2-note h1 a.hover {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin);
}

.e2-note h1.e2-draft { font-style: italic }

.e2-note-favourite h1 {
  font-size: 36px;
  line-height: 42px;
  margin: -6px 0 2px;
}

.e2-note-date {
  font-size: 11px;
  letter-spacing: .12em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.e2-note-text {
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 16px 0;
}

.e2-note-likes {
  height: 24px;
  margin: 0 0 10px 0;
}

.e2-note-tags,
.e2-note-comments-link {
  margin: 0 0 6px 0;
  font-size: 12px;
  line-height: 16px;
}




/* comments */

.e2-comments {
  float: left;
  width: 100%;
  word-wrap: break-word;
}

.e2-comment-and-reply,
.e2-comment {
  width: 100%;
  float: left;
}

.e2-comment-and-reply {
  margin: 0 0 40px;
}

.e2-comment {
  margin: 0;
}

.e2-comment .e2-comment-secondary-controls {
  display: none;
}

.e2-comment:hover .e2-comment-secondary-controls,
.e2-comment.hover .e2-comment-secondary-controls {
  display: inline;
}

.e2-comment-meta-area {
  float: left;
  width: 17.07%;
  padding-right: $w_gut;
}

.e2-comment-content-area {
  float: left;
  width: 65.86%;
  position: relative;
  padding-right: 1em;
}

.e2-comment-control-area {
  float: left;
  width: 17.07%;
}

.e2-comment-author-removed {
  text-decoration: line-through;
  color: #c00000;
}

.e2-comment-author-removed span {
  color: #999;
}

.e2-reply {
  margin-top: 10px;
}

.e2-reply .e2-comment-author {
  font-weight: bold;
}




/* popular */

.e2-popular {
  max-width: 700px;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin: 0 0 24px 0; 
}

.e2-popular p {
  display: inline-block;
  width: 100%;
  margin: 0 0 6px 0; 
}

.e2-popular a {
  padding-top: 4px;
}




/* pages */

.e2-pages {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 16px;
}

.e2-pages a {
  padding-top: 4px;
}

.e2-page-unavailable {
  color: $c_grey;
}




/* tags  */

.e2-tags {
  line-height: 2.25em;
  margin-bottom: 48px;
}

.e2-tags .e2-tag {
  margin-right: 8px;
}

.e2-tag-filter {
  margin-bottom: 12px;
}

.e2-tag-filter-slide-shaft,
.e2-tag-filter-slider span {
  background: $c_tag;
}

.e2-tag-filter-slide-area:hover .e2-tag-filter-slide-shaft,
.e2-tag-filter-slide-area:hover .e2-tag-filter-slider span {
  background: $c_hover;
}

a.e2-tag,
a:link.e2-tag,
a:visited.e2-tag {
  color: $c_tag;
  border-color: transparentize($c_tag, $thin);
}

a:hover.e2-tag,
a.hover.e2-tag,
a:active.e2-tag {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin);
}

// make sure search heading does not stretch too much
.e2-search { max-width: 30em; }

// adjust system colors to match the theme
.e2-upload-error { color: $c_red }

.e2-clickable-keyboard-shortcut:hover {
  color: $c_hover;
  border-color: transparentize($c_hover, $thin);
}












































.content .center {
  width: 100%;
}